$color-white: white;
$color-light:#ccc;
$color-greish:#f7f7f7;
$color-grey-light:#eaeaea;
$color-grey:#333;
$color-grey-dark:#555;
$color-pink:#ff6b6b;
$color-pink-light:#e25555;
$color-green-ligt: #4caf50;
$color-green-lightest: #45a049;
$color-olive:#305c30;
$color-blue : #2196f3;
$color-indigo:  #1565c0;
$color-black:black; 

$text-grey: #888;
$text-orange: #ff9800;
